@import "tailwindcss";

body {
  font-family: 'Arimo', sans-serif;
}

@theme {
  --color-PRIMARY-COLOR: #F9F9F9;
  --color-JAUNE-COLOR: #FFCC00;
  --color-BLACK-COLOR: #1A1C1C;
  --color-GRAY-WHITE-COLOR: #F3F3F3;
  --color-ICON-COLOR: #745B00;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1A1C1C;
}

body::-webkit-scrollbar-thumb {
  background: #FFCC00;
  border: 2px solid #1A1C1C;
  border-radius: 999px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #F9F9F9;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hide-scrollbar {
  scrollbar-width: none;
}


.hide-scrollbar {
  -ms-overflow-style: none;
}